<h1>Pages#pin</h1>
<p>Find me in app/views/pages/pin.html.erb</p>

<button type="button" class="btn btn-primary" id="primary">Pin Entry Happens Here</button>

<script type="text/javascript">
	const button = document.getElementById('primary');

button.addEventListener('click', event => {
  window.location.href = "summary";
});
</script>
