<!DOCTYPE html>
<html>
  <head>
    <title>Instascan</title>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/estilo.css"/>
  </head>
  <body>
  	<h1>home#scanner</h1>
  	<p>find me in app/views/home/scanners.html.erb</p>

    <video id="preview"></video>
    <script>
        let scanner = new Instascan.Scanner(
            {
                video: document.getElementById('preview')
            }
        );
        scanner.addListener('scan', function(content) {
        	//
            //alert('Escaneou o conteudo: ' + content);
           //window.open(content, 'confirmation');

           //new_window = window.location.href = 'confirmation';

            // new_window.onload() => {
            //     return document.write('Escaneou o conteudo: ' + content);
            // }

            // how to make doc.write content globally available?
            // how to make it available in confirmation page?

           return document.write('Escaneou o conteudo: ' + content);

        });
        Instascan.Camera.getCameras().then(cameras => 
        {
            if(cameras.length > 0){
                scanner.start(cameras[0]);
            } else {
                console.error("Não existe câmera no dispositivo!");
            }
        });


    </script>


 </body>
</html>